purchase/
purchase_analytic_plans/
purchase_double_validation/
purchase_requisition/
report_intrastat/
report_webkit/
resource/
sale/
sale_analytic_plans/
sale_crm/
sale_journal/
sale_margin/
sale_mrp/
sale_order_dates/
sale_stock/
share/
sim/
stock/
stock_invoice_directly/
stock_location/
stock_no_autopicking/
subscription/
survey/
warning/
web/
web_analytics/
web_api/
web_calendar/
web_diagram/
web_gantt/
web_graph/
web_hello/
web_kanban/
web_linkedin/
eb_shortcuts/
web_tests/
web_tests_demo/
web_view_editor/
sms/**/*.pyc
sms/wizard/*.pyc
sms/report/*.pyc
smsfee/**/*.pyc
sms_attendance/**/*.pyc
